@use "../../styles/variables.scss" as v;

.header-firstpart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &-title {
    font-family: "Dekko", cursive;
    color: black;
    font-size: 5rem;
    font-weight: 500;
    margin: auto;
  }
}
